name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  rust-core-tests:
    name: Rust Core Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run cargo test in crates/capsule-core
        working-directory: crates/capsule-core
        run: cargo test --all --verbose

      - name: Run cargo test in crates/capsule-cli
        working-directory: crates/capsule-cli
        run: cargo test --all --verbose
